html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body
{
}


#main_container
{
	position: relative;
	overflow: hidden;
}
.navbar { border-bottom: 1px solid #ccc;}
.navbar-brand { padding: 5px;  color: #D9812B;  }
.nav { margin:8px 10px; }
.nav > li > a { padding:8px; font-size: 18px; color: #BC7C9E; }
.navbar-toggle { border-color: #ccc; border-radius: 0px;}
.navbar-toggle .icon-bar { background: #BC7C9E;}
ul.items { margin: 0px; padding: 0px; list-style: none; position: relative;
 -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.filter > input { width: 100%; padding: 10px; border-radius: 2px; border:1px solid #ccc; margin: 0px auto; display: block; outline: none;}
ul.items > li  { overflow: hidden; display: inline-block; width: 100%; /*width: 24.7%; */ vertical-align: top;}
ul.items li > div.item {  border: 1px solid #e1e1e1; padding: 10px;  margin: 10px;  background: #fff;}
ul.items li > div.item div.image { position: relative; height: 260px;  overflow: hidden; cursor: pointer;}

ul.items li > div.item div.image img, .product_info div.image img { width: 100%; max-width: 100%;}

ul.items li > div.item div.image img{ position: relative; top: 0%; transform: translateY(0%);}
ul.items li > div.item div.image ul.user_review, div.item div.image ul.user_review  { display: none; list-style: none; margin: 0px; padding: 0; -webkit-transition: display 2s;  -moz-transition: display 2s; transition: width 2s; z-index: 10; position: absolute; right: 10px; top:10px;}
.product_info div.item div.image ul.user_review { right: 10px; top:20px; left: 20px; right: auto;}
ul.items li > div.item div.image:hover ul.user_review, div.item div.image:hover ul.user_review{ display: block;}
ul.items li > div.item div.image ul.user_review li, div.item div.image ul.user_review li { background: rgba(0,0,0,0.5); color: #fff; margin-bottom: 5px; border-radius: 2px; padding: 5px;}
ul.items li > div.item .author, .product_info .author { margin: 8px 0;}
ul.items li > div.item .author h1{  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
ul.items li > div.item .author h1, .product_info .author h1, .modal-body .author h1 { font-size: 16px; font-weight: normal; line-height: normal; color: rgb(28, 28, 28);  margin: 10px 0 0 0;}
ul.items li > div.item .author h1 > span, .product_info .author h1 > span, .modal-body .author h1 > span { display: block; color: #54543F; font-style: italic; font-size: 12px; margin-top: 5px;}
ul.items li > div.item .author .profile, .product_info .author .profile { border-radius: 100%; float: right;}

ul.items li > div.item > .description{ display: none;}
.product_info {  background: rgb(28, 28, 28); color: rgb(198, 198, 198); padding: 10px; /*width: 360px; */ max-width:500px; /*height:500px;*/
	position: fixed; /*right: -390px; */top: 100px; /*bottom: 0px;*/ /*z-index: 11;*/ z-index: 99999; left: 0%;  height: inherit;
-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

}
.product_info .item { height: 100%; min-height: 100%; overflow-y: scroll !important;  padding-right:2px; }
.product_info .author h1 { color: #fff; }
.product_info .description, .modal-body .description{ border-top: 1px solid #ccc; padding:5px }
.product_info .author h1 > span, .modal-body .author h1 > span { color: rgb(141, 141, 141);}
.modal-body .item img { width: 100%; max-width: 100%;}
.product_info input[type="text"], .product_info input[type="email"], .product_info textarea { 
	color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0);
	background-color: rgb(113, 113, 113);
	width: 100%;
	margin-bottom: 5px;
}

.product_info.open {
	right: 0px;
}
.product_info.close {
	right: -390px;
}
.product_info .arrow_close { cursor: pointer; position: absolute; top: 49.5%; left: -18px; height: 58px; z-index: 15; width:18px; }
footer > .container { color: #666;  text-align: center; padding: 10px; clear: both; overflow: hidden;}
footer p { margin: 0px;}


@media only screen and (min-width : 460px) {
	ul.items > li  { width: 50%; }
}
@media only screen and (min-width : 979px) {
	ul.items > li  { width: 33.2%; }
	.filter > input { width: 60%; }

}

@media only screen and (min-width : 1200px)  {
	ul.items > li  { width: 24.7% }
}